<h1 mat-dialog-title>Novo Documento</h1>

<div mat-dialog-content>

    <form [formGroup]="processoForm">
        <div fxLayout="column" fxLayoutAlign="space-around start">

            <mat-form-field>
                <mat-label>CPF do Beneficiário</mat-label>
                <input matInput formControlName="cfpBeneficiario" name="cfpBeneficiario" style="width: 80%;">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tipo</mat-label>
                <input matInput formControlName="tipo" name="tipo">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Documento</mat-label>
                <input matInput formControlName="documento" name="documento">
            </mat-form-field>
            
        </div>

    </form>
</div>


<div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="createProcesso()">Adicionar</button>
        <button mat-button (click)="cancel()">Cancelar</button>
    </div>



    <div *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
        <div class="text-wrapper">
            <div class="centered">Drop your file here!</div>
        </div>
    </div>
    <!--droped image preview-->
    <div *ngFor="let file of files">
        <span>{{file.url}}</span>
        <!-- <pdf-viewer [src]="getResource(file.url)" [render-text]="true" style="display: block;"></pdf-viewer> -->
        <embed [attr.src]="file.url" type="application/pdf"   height="700px" width="500">

    </div>

    <button type="button" (click)="upload()">Upload Image</button>
</div>