.table-row:focus {
    background: lightgreen;
    outline: none;
  }
  .table-row:focus mat-cell {
    color: white; 
  }

  .mat-row:hover {
    background: lightgreen;
    outline: none;
  }


  .mat-row:hover mat-cell {
    color: white; 
  }